.home-wrapper{
    background-image: url(/resources/assets/images/home_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    width: 100%;
}
.inscription-block{
    /*justify-content: center;
    display: flex;
    flex-direction: column;*/
    padding-top: 35vh;
    font-family: "ProximaNovaBold";
    color: white;
}
.inscription-block p{
    padding: 0;
    margin: 0;
}
.inscription-block #music-portal{
    font-family: "ProximaNovaRegular";
    font-size: 63px;
    text-transform: uppercase;
    display: inline-block;
}
.inscription-block #mp-delimiter-before,
.inscription-block #mp-delimiter-after{
    width: 145px;
    margin: 20px 34px;
    height: 1px;
    border: 1.5px solid red;
    display: inline-block;
}
.inscription-block #music-rush{
    font-family: "ProximaNovaBold";
    font-size: 110px;
    text-transform: uppercase;
}
.inscription-block #delimiter{
    width: 20px;
    height: 20px;
    background: red;
    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    margin: 0 0 -3px 18px;
    display: inline-block;
}
.inscription-block #delimiter-before,
.inscription-block #delimiter-after{
    width: 380px;
    margin: 9px 0;
    height: 1px;
    border: 1px solid white;
    display: inline-block;
}
.inscription-block #tagline{
    font-family: "ProximaNovaLight";
    font-size: 41px;
}

/* PLAYER */
.music-player{
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    position: absolute;
    height: 60px;
    background-color: rgba(56, 58, 73, .65);
    padding-left: 65px !important;
    padding-right: 65px !important;*/
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
}
.player-controls{
    background-color: rgba(56, 58, 73, .65);
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    bottom: 0;
    padding-left: 12px;
    width: 100%;
}
.player-progress{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 54px;
    height: 16px;
    cursor: default;
    z-index: 3;
}
.music-player:hover .music-player-progress-bg,
.music-player:hover .music-player-progress-muted,
.music-player:hover .music-player-time-gone,
.music-player:hover .music-player-time{
    height: 16px;
    line-height: 16px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    /*-webkit-animation: progress__expand 90ms ease-out;
    -moz-animation: progress__expand 90ms ease-out;
    animation: progress__expand 90ms ease-out;*/
}
.music-player:hover .music-player-time p{
    display: inline-block;
}

.music-player-progress-bg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: #464759;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}
.music-player-progress-muted{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 11px;
    height: 5px;
    line-height: 5px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}
.music-player-progress-muted .progress-line{
    background: #7d7d85;
    display: block;
    position: relative;
    height: 100%;
    width: 84%;
}
.music-player-time-gone{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 11px;
    height: 5px;
    line-height: 5px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}
.music-player-time-gone .progress-line{
    background: #089680;
    display: block;
    position: relative;
    height: 100%;
    width: 35%;
}
.music-player-time{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 5px;
    line-height: 5px;
    color: white;
    font-family: "ProximaNovaLight";
    font-size: 11px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}
/*.music-player-time-gone{
    height: 15px;
    position: absolute;
    bottom: 60px;
    width: 100%;
    left: 0;
    background: #089680;
    z-index: 10;
}*/
/*.music-player-time:before{
    content: '';
    position: absolute;
    height: 15px;
    width: 30%;
    background: #089680;
}*/
.music-player-time p{
    display: none;
    padding-top: 1px;
}
.music-player-time p.time-curr{
    float: left;
    margin-left: 65px;
}
.music-player-time p.time-all{
    float: right;
    margin-right: 65px;
}
.music-player-controller{
    vertical-align: top;
    display: inline-block;
    color: white;
    margin-top: 4px;
}
.music-player-controller > div{
    display: inline-block;
    margin-right: 15px;
    font-size: 22px;
    vertical-align: middle;
    cursor: pointer;
}
.player-image{
    margin-top: 11px;
    vertical-align: top;
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.player-image > img{
    max-width: 100%;
}
.player-music-info{
    vertical-align: top;
    display: inline-block;
    margin-left: 15px;
    margin-top: 8px;
}
.player-music-info p{
    margin: 0 !important;
    padding: 0 !important;
    color: white;
    font-size: 13px;
    font-family: "ProximaNovaLight";
}
.player-music-info p.music-title{
    font-family: "ProximaNovaBold";
}
.player-music-info p.music-artist{
    font-size: 12px;
}
.controller-play{
    font-size: 34px !important;
}

/*Track List*/
.music-list{
    width: 500px; /*25%*/
    height: 700px; /*50%*/
    position: absolute;
    left: 15px;
    bottom: -9999px;
    background-color: rgba(56, 58, 73, .65);
}
.track-items{
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    overflow: auto;
}
.music-list-close-sidebar{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.5);
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    background: transparent;
    color: white;
    padding-top: 18px;
}
.music-list-close-sidebar:hover{
    background: rgba(255,255,255,.75);
    color: black;
}
.music-list .track-item{
    min-width: 100%;
    height: 60px;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid transparent;
}
.music-list .track-item:hover{
    border: 1px solid white;
    cursor: pointer;
}
.music-list .track-item:hover .track-time{
    display: none;
}
.music-list .track-item:hover .add-track-info > b{
    display: inline-block;
}

.music-list .track-img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: inline-block;
}
.music-list .track-img img{
    width: 50px;
    height: 50px;
}

.music-list .track-info-block{
    display: inline-block;
    font-family: "ProximaNovaRegular";
    vertical-align: middle;
    margin-right: 25px;
}

.music-list .track-info-block > .artist-name{
    font-size: 14px;
    color: white;
    font-weight: bold;
    padding: 0;
    margin-bottom: 5px;
}
.music-list .track-info-block > .track-name{
    font-size: 14px;
    color: white;
    padding: 0;
    margin: 0;
}

.music-list .add-track-info{
    float: right;
    display: inline-block;
    vertical-align: middle;
}
.music-list .add-track-info > b{
    color: white;
    font-size: 22px;
    display: none;
    padding-top: 15px;
    margin-right: 10px;
}
.music-list .add-track-info .fa-download:hover,
.music-list .add-track-info .fa-plus:hover,
.music-list .add-track-info .fa-heart-o:hover{
    color: #16c9ad;
    cursor: pointer;
}
.music-list .add-track-info > .track-time{
    font-family: "ProximaNovaRegular";
    font-size: 14px;
    color: white;
    padding: 0;
    margin: 0;
    padding-top: 15px;
    padding-right: 10px !important;

}