body{
    overflow: hidden;
}
.profile-container{
    background: url('/resources/assets/images/home_back.jpg') no-repeat;
    height: 100vh;
    background-size: cover;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 !important;
    padding: 74px 0 0 0 !important;
    color: white;
    font-family: "ProximaNovaRegular";
}

.profile-menu-container{
    height: 65px;
    margin-top: 25px;
    background-color: rgba(8, 150, 128, 0.6);
    //padding: 0px 10px 20px 10px;
}

.profile-menu-container ul.profile-menu{
    width: 100%;
    height: 65px;
    list-style: none;
    vertical-align: middle;
    margin: 0;
}
.profile-menu-container ul.profile-menu li{
    padding: 18px 5px;
    height: 65px;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
    font-family: "ProximaNovaLight";
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}
.profile-menu-container ul.profile-menu li:hover{
    padding: 9px 5px;
    cursor: pointer;
    font-size: 28px;
    font-family: "ProximaNovaBold";
}
.profile-menu-container ul.profile-menu li.checked-btn{
    padding: 9px 5px;
    font-size: 28px;
    font-family: "ProximaNovaBold";
}
.profile-container .music-filters-block .btn-upload-track{
    width: calc(100% - 65px);
    background-color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    color: rgba(8, 150, 128, 0.8);
    font-family: "ProximaNovaBold";
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 25px;
    margin-left: 65px;
    cursor: pointer;
    border-color: white;
}
.profile-container .music-filters-block .btn-upload-track:hover{
    background-color: rgba(255, 255, 255, 0.9);
}
.profile-container .music-filters{
    height: calc(100% - 311px);
}

/*Tracks*/
.tracks-container{
    width: 70%;
    height: calc(100% - 180px);
    margin-top: 20px;
    float: right;
}

.tracks-container .profile-track-items{
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-top: 7px;
    padding-right: 10px;
    //background-color: rgba(55, 57, 73, 0.5);;
}
.tracks-container .profile-track-item{
    min-width: 100%;
    height: 80px;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid transparent;
    overflow: hidden;
    position: relative;
}
.tracks-container .profile-track-item:hover{
    border: 1px solid white;
    cursor: pointer;
}
.tracks-container .profile-track-item:hover .track-time{
    display: none;
}
.tracks-container .profile-track-item:hover .add-track-info > b{
    display: inline-block;
}

.tracks-container .track-img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
    display: inline-block;
}
.tracks-container .track-img img{
    width: 70px;
    height: 70px;
}

.tracks-container .track-info-block{
    display: inline-block;
    font-family: "ProximaNovaRegular";
    vertical-align: middle;
    margin-right: 25px;
}

.tracks-container .track-info-block > .artist-name{
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding: 0;
    margin-bottom: 5px;
}
.tracks-container .track-info-block > .track-name{
    font-size: 16px;
    color: white;
    padding: 0;
    margin: 0;
}

.tracks-container .add-track-info{
    float: right;
    display: inline-block;
    vertical-align: middle;
}
.tracks-container .add-track-info > b{
    color: white;
    font-size: 25px;
    display: none;
    padding-top: 25px;
    margin-right: 10px;
}
.tracks-container .add-track-info .fa-download:hover{
    color: #16c9ad;
    cursor: pointer;
}
.tracks-container .add-track-info .fa-edit:hover{
    color: yellow;
    cursor: pointer;
}
.tracks-container .add-track-info .fa-times-circle:hover{
    color: red;
    cursor: pointer;
}
.tracks-container .add-track-info > .track-time{
    font-family: "ProximaNovaRegular";
    font-size: 14px;
    color: white;
    padding: 0;
    margin: 0;
    padding-top: 25px;
}
/*.track-performer,
.tracks-container .profile-track-item p.track-time,
.tracks-container .profile-track-item p.track-name*/

/*Playlists*/
.playlist-container{
    width: 70%;
    height: calc(100% - 180px);
    margin-top: 20px;
    float: right;
}

.playlist-container .profile-playlist-items{
    width: 100%;
    height: 100%;
    overflow: auto;
//background-color: rgba(55, 57, 73, 0.5);
}
.profile-playlist-item{
    width: 220px;
    height: 220px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.31);
    display: inline-block;
    margin-bottom: 20px !important;
    margin-top: 10px !important;
    margin-right: 15px !important;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.profile-playlist-item:hover{
    transform: scale(1.1);
}
.profile-playlist-item > img{
    max-height: 100%;
}
.profile-playlist-item:hover .profile-playlist-info{
    opacity: 1;
}
.profile-playlist-info{
    padding: 18px;
    font-size: 18px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    color: white;
    background-color: rgba(60, 60, 78, .75);
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.in-profile-playlist-info{
    position: absolute;
    bottom: 10px;
    width: 90%;
}
.in-profile-playlist-info p.profile-playlist-artist{
    font-weight: bold;
}
.in-profile-playlist-info p{
    margin: 0 !important;
    padding: 0 !important;
}
/*.playlists-container .profile-playlist-item{
    width: 45%;
    height: 130px;
    background-color: rgba(55, 57, 73, 1);
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 10px;
    cursor: pointer;
}
.profile-playlist-item .playlist-info{
    width: 40%;
    height: 100%;
    font-family: "ProximaNovaRegular";
    font-size: 20px;
    color: white;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 35px;
}
.profile-playlist-item .playlist-info p{
    padding: 0;
    margin: 0;
}
.playlists-container .profile-playlist-item .playlist-img{
    width: 59%;
    float: right;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    border-radius: 0px 5px 5px 0px;
    position: relative;
}
.playlists-container .profile-playlist-item .playlist-img:hover .playlist-control-block{
    display: block;
}
.playlists-container .profile-playlist-item .playlist-img img{
    width: 100%;
    height: 100%;
}
.playlists-container .profile-playlist-item .playlist-control-block{
    display: none;
    background-color: rgba(143, 149, 159, 0.75);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 12%;
    position: absolute;
    top: 0;
    left: 0;

}
.playlists-container .profile-playlist-item .playlist-control-block div:first-of-type{
    display: inline-block;
    font-family: 'ProximaNovaBold';
    font-size: 14px;
    float: left;
}
.playlists-container .profile-playlist-item .playlist-control-block div:last-of-type{
    display: inline-block;
    font-family: 'ProximaNovaBold';
    font-size: 14px;
    float: right;
}
.playlists-container .profile-playlist-item .playlist-control-block div:hover{
    color: rgba(8, 150, 128, 1);
    cursor: pointer;
}
.playlists-container .profile-playlist-item .playlist-control-block div b{
    font-size: 26px;
}
.playlists-container .profile-playlist-item .playlist-control-block div span{
    font-family: "ProximaNovaLight";
    display: block;
}*/

/*Settings*/
.settings-container{
    margin-top: 25px;
}

/*Albums*/
.albums-container{
    width: 70%;
    height: calc(100% - 180px);
    margin-top: 20px;
    float: right;
}

.albums-container .profile-albums-items{
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-top: 7px;
    padding: 10px;
//background-color: rgba(55, 57, 73, 0.5);
}

.profile-album-item{
    width: 220px;
    height: 220px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.31);
    display: inline-block;
    margin-bottom: 20px !important;
    margin-top: 10px !important;
    margin-right: 15px !important;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.profile-album-item:hover{
    transform: scale(1.1);
}
.profile-album-item > img{
    max-height: 100%;
}
.profile-album-item:hover .profile-album-info{
    opacity: 1;
}
.profile-album-info{
    padding: 18px;
    font-size: 18px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    color: white;
    background-color: rgba(60, 60, 78, .75);
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.in-profile-album-info{
    position: absolute;
    bottom: 10px;
    width: 90%;
}
.in-profile-album-info p.profile-album-artist{
    font-weight: bold;
}
.in-profile-album-info p{
    margin: 0 !important;
    padding: 0 !important;
}

/*Modal Windows*/
#editTrackModal .modal-dialog{
    margin-top: 15%;
}
#editTrackModal .modal-content{
    background-color: rgba(60, 60, 78, .95);
}
#editTrackModal .close span{
    color: white;
}
#editTrackModal .modal-header{
    border-bottom: none;
}
#editTrackModal .modal-footer{
    border-top: none;
}
#editTrackModal .form-control{
    background-color: transparent;
    border-color: white;
    color: white;
}
#editTrackModal .modal-footer .btn-primary{
    background-color: transparent;
    border-color: rgba(8, 150, 128, 0.8);
}
#editTrackModal .modal-footer .btn-primary:hover{
    background-color: rgba(8, 150, 128, 0.7);
}
#editTrackModal .modal-footer .btn-secondary{
    background-color: transparent;
    color: white;
}
#editTrackModal .modal-footer .btn-secondary:hover{
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(0, 0, 0, 0.7);
}

#deleteTrack .modal-dialog,
#deleteAlbum .modal-dialog,
#deletePlaylist .modal-dialog{
    margin-top: 15%;
}
#deleteTrack p.title,
#deleteAlbum p.title,
#deletePlaylist p.title{
    font-family: "ProximaNovaRegular";
    font-size: 16px;
    color: white;
}
#deleteTrack .modal-content ,
#deleteAlbum .modal-content ,
#deletePlaylist .modal-content {
    padding: 25px 25px;
    background-color: rgba(60, 60, 78, .95);
    text-align: center;
}
#deleteTrack .form-control,
#deleteAlbum .form-control,
#deletePlaylist .form-control{
    background-color: transparent;
    border-color: white;
    color: white;
}
#deleteTrack .btn-primary,
#deleteAlbum .btn-primary,
#deletePlaylist .btn-primary{
    background-color: transparent;
    border-color: rgba(8, 150, 128, 0.8);
}
#deleteTrack .btn-primary:hover,
#deleteAlbum .btn-primary:hover,
#deletePlaylist .btn-primary:hover{
    background-color: rgba(8, 150, 128, 0.5);
}
#deleteTrack .btn-secondary,
#deleteAlbum .btn-secondary,
#deletePlaylist .btn-secondary{
    background-color: transparent;
    color: white;
}
#deleteTrack .btn-secondary:hover,
#deleteAlbum .btn-secondary:hover,
#deletePlaylist .btn-secondary:hover{
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(0, 0, 0, 0.7);
}

#uploadNewTrack .modal-dialog{
    margin-top: 15%;
}
#uploadNewTrack .modal-content{
    background-color: rgba(60, 60, 78, .95);
}
#uploadNewTrack .modal-body{
    padding: 0px !important;
    text-align: center;
}
#uploadNewTrack #upload_track{
    display: none;
}
#uploadNewTrack .form-upload-track{
    position: absolute;
    top: -16px;
    background-color: #3c3c4d;
    width: 100%;
}
#uploadNewTrack .form-group{
    text-align: center;
    margin-bottom: 0px;
}
#uploadNewTrack label{
    padding: 15px;
}
#uploadNewTrack label .upload-track-block{
    overflow: auto;
    width: 200px;
    height: 200px;
    text-align: center;
    border: 3px dashed rgba(209, 198, 198, 0.9);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    cursor: pointer;
    background-color: transparent;
}
#uploadNewTrack label .upload-track-block:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
#uploadNewTrack label .upload-track-block p.title{
    font-family: "ProximaNovaBold";
    color: rgba(209, 198, 198, 0.9);
    font-size: 50px;
    margin-top: 63px;
}
#uploadNewTrack .upload-btn{
    width: 100%;
    background-color: rgba(8, 150, 128, 0.8);
    border-color: rgba(8, 150, 128, 0.8);
    color: white;
    text-transform: uppercase;
    font-family: 'ProximaNovaRegular';
    font-size: 16px;
}
#uploadNewTrack .upload-btn:hover{
    background-color: rgba(8, 150, 128, 0.7);
}
#uploadNewTrack .upload-progress-block{
    width: 200px;
    height: 200px;
    background-color: transparent;
    border-radius: 25px;
    position: relative;
    margin: 25px auto;
    overflow: hidden;
    border: 1px solid rgba(8, 150, 128, 0.8);
}
#uploadNewTrack .upload-progress-block span.upload-procent{
    position: absolute;
    left: 37%;
    top: 40%;
    font-family: "ProximaNovaBold";
    color: white;
    font-size: 30px;
}
#uploadNewTrack .upload-progress-block .progress{
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 0%;
    background-color: rgba(8, 150, 128, 1);
}
#uploadNewTrack .upload-progress-block .upload-ok{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: rgba(8, 150, 128, 1);
    color: white;
    font-family: "ProximaNovaBold";
    font-size: 30px;
    padding-top: 27px;
    position: absolute;
    top: 25%;
    left: 25%;
    text-align: center;
    display: none;
}

#addAlbumModal,
#addPlaylistModal,
#editAlbumModal,
#editPlaylistModal{
    overflow-y: hidden;
}
#addAlbumModal .modal-dialog,
#addPlaylistModal .modal-dialog,
#editAlbumModal .modal-dialog,
#editPlaylistModal .modal-dialog{
    height: 100%;
}
#addAlbumModal .modal-content,
#addPlaylistModal .modal-content,
#editAlbumModal .modal-content,
#editPlaylistModal .modal-content{
    background-color: rgba(60, 60, 78, .95);
    height: calc(100% - 20%);
}
#addAlbumModal .modal-header,
#addPlaylistModal .modal-header,
#editAlbumModal .modal-header,
#editPlaylistModal .modal-header{
    border-bottom: 1px solid rgba(221, 221, 236, 0.7) !important;
    padding-bottom: 0px;
}
#addAlbumModal .modal-body,
#addPlaylistModal .modal-body,
#editAlbumModal .modal-body,
#editPlaylistModal .modal-body{
    padding-top: 0px;
    height: calc(100% - 120px);
}
#addAlbumModal .modal-footer,
#addPlaylistModal .modal-footer,
#editAlbumModal .modal-footer,
#editPlaylistModal .modal-footer{
    border-top: 1px solid rgba(221, 221, 236, 0.7) !important;
}
#addAlbumModal .modal-content .modal-body .album-info-form input[type=file],
#addPlaylistModal .modal-content .modal-body .playlist-info-form input[type=file],
#editAlbumModal .modal-content .modal-body .album-info-form input[type=file],
#editPlaylistModal .modal-content .modal-body .playlist-info-form input[type=file]{
    display: none;
}
#addAlbumModal .modal-content .modal-body .album-info-form label.album_img_label,
#addPlaylistModal .modal-content .modal-body .playlist-info-form label.playlist_img_label,
#editAlbumModal .modal-content .modal-body .album-info-form label.album_img_label,
#editPlaylistModal .modal-content .modal-body .playlist-info-form label.playlist_img_label{
    width: 75px;
    height: 75px;
    cursor: pointer;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#addAlbumModal .modal-content .modal-body .album-info-form label.album_img_label img,
#addPlaylistModal .modal-content .modal-body .playlist-info-form label.playlist_img_label img,
#editAlbumModal .modal-content .modal-body .album-info-form label.album_img_label img,
#editPlaylistModal .modal-content .modal-body .playlist-info-form label.playlist_img_label img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#addAlbumModal .modal-content .modal-body .album-info-form label .over-album-img,
#addPlaylistModal .modal-content .modal-body .playlist-info-form label .over-playlist-img,
#editAlbumModal .modal-content .modal-body .album-info-form label .over-album-img,
#editPlaylistModal .modal-content .modal-body .playlist-info-form label .over-playlist-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(221, 221, 236, 0.7);
    font-size: 22px;
    text-align: center;
    padding-top: 20px;
    color: white;
    display: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#addAlbumModal .modal-content .modal-body .album-info-form,
#addPlaylistModal .modal-content .modal-body .playlist-info-form,
#editAlbumModal .modal-content .modal-body .album-info-form,
#editPlaylistModal .modal-content .modal-body .playlist-info-form{
    //border-top: 1px solid rgba(221, 221, 236, 0.7);
    border-bottom: 1px solid rgba(221, 221, 236, 0.7);
    padding-top: 10px;
}
#addAlbumModal .modal-content .modal-body .album-info-form label.album_img_label:hover .over-album-img,
#addPlaylistModal .modal-content .modal-body .playlist-info-form label.playlist_img_label:hover .over-playlist-img,
#editAlbumModal .modal-content .modal-body .album-info-form label.album_img_label:hover .over-album-img,
#editPlaylistModal .modal-content .modal-body .playlist-info-form label.playlist_img_label:hover .over-playlist-img{
    display: block;
}
#addAlbumModal .album-info-form .form-group-album-img,
#addPlaylistModal .playlist-info-form .form-group-playlist-img,
#editAlbumModal .album-info-form .form-group-album-img,
#editPlaylistModal .playlist-info-form .form-group-playlist-img{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0px;
}
#addAlbumModal .album-info-form .form-group-album-info,
#addPlaylistModal .playlist-info-form .form-group-playlist-info,
#editAlbumModal .album-info-form .form-group-album-info,
#editPlaylistModal .playlist-info-form .form-group-playlist-info{
    padding-top: 15px;
    display: inline-block;
    vertical-align: top;
    width: 700px;
    margin-left: 15px;
}
#addAlbumModal .album-info-form .add-track-in-album-btn,
#addPlaylistModal .playlist-info-form .add-track-in-playlist-btn,
#editAlbumModal .album-info-form .add-track-in-album-btn,
#editPlaylistModal .playlist-info-form .add-track-in-playlist-btn{
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
    font-size: 48px;
    font-family: "ProximaNovaRegular";
}
#addAlbumModal .album-info-form .add-track-in-album-btn:hover,
#addPlaylistModal .playlist-info-form .add-track-in-playlist-btn:hover,
#editAlbumModal .album-info-form .add-track-in-album-btn:hover,
#editPlaylistModal .playlist-info-form .add-track-in-playlist-btn:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
}
#addAlbumModal .form-group-album-info .form-group,
#addPlaylistModal .form-group-playlist-info .form-group,
#editAlbumModal .form-group-album-info .form-group,
#editPlaylistModal .form-group-playlist-info .form-group{
    display: inline-block;
    margin-right: 10px;
}
#addAlbumModal .form-group-album-info .form-control,
#addPlaylistModal .form-group-playlist-info .form-control,
#editAlbumModal .form-group-album-info .form-control,
#editPlaylistModal .form-group-playlist-info .form-control{
    background-color: transparent;
    border-color: white;
    color: white;
}
#addAlbumModal .track-items .track-item-check-btn .hidden,
#addPlaylistModal .track-items .track-item-check-btn .hidden,
#editAlbumModal .track-items .track-item-check-btn .hidden,
#editPlaylistModal .track-items .track-item-check-btn .hidden{
    display: none;
}
#addAlbumModal .track-items input[type="checkbox"]:checked + label.track-item,
#addPlaylistModal .track-items input[type="checkbox"]:checked + label.track-item,
#editAlbumModal .track-items input[type="checkbox"]:checked + label.track-item,
#editPlaylistModal .track-items input[type="checkbox"]:checked + label.track-item{
    background-color: #089680;
}
#addAlbumModal .track-items,
#addPlaylistModal .track-items,
#editAlbumModal .track-items,
#editPlaylistModal .track-items{
    width: 100%;
    overflow: auto;
    padding-top: 10px;
    height: calc(100% - 80px);
}
#addAlbumModal .track-items .track-item,
#addPlaylistModal .track-items .track-item,
#editAlbumModal .track-items .track-item,
#editPlaylistModal .track-items .track-item{
    min-width: 100%;
    height: 55px;
    margin-bottom: 8px;
    padding: 5px;
    border: 1px solid transparent;
}
#addAlbumModal .track-items .track-item:hover,
#addPlaylistModal .track-items .track-item:hover,
#editAlbumModal .track-items .track-item:hover,
#editPlaylistModal .track-items .track-item:hover{
    border: 1px solid white;
    cursor: pointer;
}
/*#editAlbumModal .track-items .track-item:hover .track-time{
    display: none;
}*/
#addAlbumModal .track-items .track-item:hover .add-track-info > b,
#addPlaylistModal .track-items .track-item:hover .add-track-info > b,
#editAlbumModal .track-items .track-item:hover .add-track-info > b,
#editPlaylistModal .track-items .track-item:hover .add-track-info > b{
    display: inline-block;
}
#addAlbumModal .track-items .track-item .track-img,
#addPlaylistModal .track-items .track-item .track-img,
#editAlbumModal .track-items .track-item .track-img,
#editPlaylistModal .track-items .track-item .track-img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: inline-block;
}
#addAlbumModal .track-items .track-item .track-img img,
#addPlaylistModal .track-items .track-item .track-img img,
#editAlbumModal .track-items .track-item .track-img img,
#editPlaylistModal .track-items .track-item .track-img img{
    width: 40px;
    height: 40px;
}
#addAlbumModal .track-items .track-item .track-info-block,
#addPlaylistModal .track-items .track-item .track-info-block,
#editAlbumModal .track-items .track-item .track-info-block,
#editPlaylistModal .track-items .track-item .track-info-block{
    display: inline-block;
    font-family: "ProximaNovaRegular";
    vertical-align: middle;
    margin-right: 25px;
}
#addAlbumModal .track-items .track-item .track-info-block > .artist-name,
#addPlaylistModal .track-items .track-item .track-info-block > .artist-name,
#editAlbumModal .track-items .track-item .track-info-block > .artist-name,
#editPlaylistModal .track-items .track-item .track-info-block > .artist-name{
    font-size: 14px;
    color: white;
    font-weight: bold;
    padding: 0;
    margin-bottom: 3px;
}
#addAlbumModal .track-items .track-item .track-info-block > .track-name,
#addPlaylistModal .track-items .track-item .track-info-block > .track-name,
#editAlbumModal .track-items .track-item .track-info-block > .track-name,
#editPlaylistModal .track-items .track-item .track-info-block > .track-name{
    font-size: 14px;
    color: white;
    padding: 0;
    margin: 0;
}
#addAlbumModal .track-items .track-item .add-track-info,
#addPlaylistModal .track-items .track-item .add-track-info,
#editAlbumModal .track-items .track-item .add-track-info,
#editPlaylistModal .track-items .track-item .add-track-info{
    float: right;
    display: inline-block;
    vertical-align: middle;
}
#addAlbumModal .track-items .track-item .add-track-info > .track-time,
#addPlaylistModal .track-items .track-item .add-track-info > .track-time,
#editAlbumModal .track-items .track-item .add-track-info > .track-time,
#editPlaylistModal .track-items .track-item .add-track-info > .track-time{
    font-family: "ProximaNovaRegular";
    font-size: 14px;
    color: white;
    padding: 0;
    margin: 0;
    padding-top: 11px;
}
#addAlbumModal .modal-footer .btn-secondary,
#addPlaylistModal .modal-footer .btn-secondary,
#editAlbumModal .modal-footer .btn-secondary,
#editPlaylistModal .modal-footer .btn-secondary{
    background-color: transparent;
    color: white;
}
#addAlbumModal .modal-footer .btn-secondary:hover,
#addPlaylistModal .modal-footer .btn-secondary:hover,
#editAlbumModal .modal-footer .btn-secondary:hover,
#editPlaylistModal .modal-footer .btn-secondary:hover{
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(0, 0, 0, 0.7);
}
#addAlbumModal .modal-footer .btn-primary,
#addPlaylistModal .modal-footer .btn-primary,
#editAlbumModal .modal-footer .btn-primary,
#editPlaylistModal .modal-footer .btn-primary{
    background-color: transparent;
    border-color: rgba(8, 150, 128, 0.8);
}
#addAlbumModal .modal-footer .btn-primary:hover,
#addPlaylistModal .modal-footer .btn-primary:hover,
#editAlbumModal .modal-footer .btn-primary:hover,
#editPlaylistModal .modal-footer .btn-primary:hover{
    background-color: rgba(8, 150, 128, 0.5);
}
#addAlbumModal .modal-footer .remove-selected-track-btn,
#addPlaylistModal .modal-footer .remove-selected-track-btn,
#editPlaylistModal .modal-footer .remove-selected-track-btn,
#editAlbumModal .modal-footer .remove-selected-track-btn{
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 0, 0, 0.7);
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    float: left;
    height: 38px;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
#addAlbumModal .modal-footer .remove-selected-track-btn:hover,
#addPlaylistModal .modal-footer .remove-selected-track-btn:hover,
#editPlaylistModal .modal-footer .remove-selected-track-btn:hover,
#editAlbumModal .modal-footer .remove-selected-track-btn:hover{
    background-color: rgba(255, 0, 0, 0.7);
    cursor: pointer;
}


#user-track-list{
    overflow-y: hidden;
}
#user-track-list .modal-dialog{
    height: 100%;
}
#user-track-list .modal-content{
    background-color: rgba(60, 60, 78, .95);
    height: calc(100% - 20%);
}
#user-track-list .modal-body{
    padding-top: 0px;
    height: calc(100% - 75px);
}
#user-track-list .title{
    font-family: "ProximaNovaRegular";
    font-size: 22px;
    color: white;
    margin: 0;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}
#user-track-list .track-items{
    width: 100%;
    overflow: auto;
    padding-top: 10px;
    margin-top: 5px;
    height: calc(100% - 29px);
}
#user-track-list .track-items .track-item-check-btn .hidden{
    display: none;
}
#user-track-list .track-items input[type="checkbox"]:checked + label.track-item{
    background-color: #089680;
}
#user-track-list .track-items .track-item{
    min-width: 100%;
    height: 55px;
    margin-bottom: 8px;
    padding: 5px;
    border: 1px solid transparent;
}
#user-track-list .track-items .track-item:hover{
    border: 1px solid white;
    cursor: pointer;
}
/*#editAlbumModal .track-items .track-item:hover .track-time{
    display: none;
}*/
#user-track-list .track-items .track-item:hover .add-track-info > b{
    display: inline-block;
}
#user-track-list .track-items .track-item .track-img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: inline-block;
}
#user-track-list .track-items .track-item .track-img img{
    width: 40px;
    height: 40px;
}
#user-track-list .track-items .track-item .track-info-block{
    display: inline-block;
    font-family: "ProximaNovaRegular";
    vertical-align: middle;
    margin-right: 25px;
}
#user-track-list .track-items .track-item .track-info-block > .artist-name{
    font-size: 14px;
    color: white;
    font-weight: bold;
    padding: 0;
    margin-bottom: 3px;
}
#user-track-list .track-items .track-item .track-info-block > .track-name{
    font-size: 14px;
    color: white;
    padding: 0;
    margin: 0;
}
#user-track-list .track-items .track-item .add-track-info{
    float: right;
    display: inline-block;
    vertical-align: middle;
}
#user-track-list .track-items .track-item .add-track-info > .track-time{
    font-family: "ProximaNovaRegular";
    font-size: 14px;
    color: white;
    padding: 0;
    margin: 0;
    padding-top: 11px;
}
#user-track-list .modal-footer .btn-secondary{
    background-color: transparent;
    color: white;
}
#user-track-list .modal-footer .btn-secondary:hover{
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(0, 0, 0, 0.7);
}
#user-track-list .modal-footer .btn-primary{
    background-color: transparent;
    border-color: rgba(8, 150, 128, 0.8);
}
#user-track-list .modal-footer .btn-primary:hover{
    background-color: rgba(8, 150, 128, 0.5);
}
    /*
    #editAlbumModal .track-items .track-item .add-track-info > b{
        color: white;
        font-size: 25px;
        display: none;
        padding-top: 25px;
        margin-right: 10px;
    }
    #editAlbumModal .track-items .track-item .add-track-info .fa-download:hover{
        color: #16c9ad;
        cursor: pointer;
    }
    #editAlbumModal .track-items .track-item .add-track-info .fa-edit:hover{
        color: yellow;
        cursor: pointer;
    }
    #editAlbumModal .track-items .track-item .add-track-info .fa-times-circle:hover{
        color: red;
        cursor: pointer;
    }*/


/*Left Menu*/
.profile-container .music-right-sidebar .album-title,
.profile-container .music-right-sidebar .playlist-title{
    padding-top: 15px;
    border-bottom: 1px solid rgba(0,0,0,.5);
}
.profile-container .music-right-sidebar .album-title p.album-name,
.profile-container .music-right-sidebar .playlist-title p.playlist-name{
    color: white;
    font-family: "ProximaNovaBold";
    font-size: 18px;
    display: inline-block;
    padding-left: 25px;
}
.profile-container .music-right-sidebar .album-title b,
.profile-container .music-right-sidebar .playlist-title b{
    float: right;
    font-size: 22px;
    margin-right: 15px;
}
.profile-container .music-right-sidebar .album-title b.fa-edit:hover,
.profile-container .music-right-sidebar .playlist-title b.fa-edit:hover{
    color: yellow;
    cursor: pointer;
}
.profile-container .music-right-sidebar .album-title b.fa-times-circle:hover,
.profile-container .music-right-sidebar .playlist-title b.fa-times-circle:hover{
    color: red;
    cursor: pointer;
}
.profile-container .music-right-sidebar .album-track-items,
.profile-container .music-right-sidebar .playlist-track-items{
    padding-top: 10px;
    width: 100%;
    height: calc(100% - 135px);
    overflow: auto;
}
.profile-container .music-right-sidebar .album-track-items .profile-track-item,
.profile-container .music-right-sidebar .playlist-track-items .profile-track-item{
    min-width: 100%;
    height: 80px;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid transparent;
}
.profile-container .music-right-sidebar .album-track-items .profile-track-item:hover,
.profile-container .music-right-sidebar .playlist-track-items .profile-track-item:hover{
    border: 1px solid white;
    cursor: pointer;
}
.profile-container .music-right-sidebar .album-track-items .profile-track-item:hover .track-time,
.profile-container .music-right-sidebar .playlist-track-items .profile-track-item:hover .track-time{
    display: none;
}
.profile-container .music-right-sidebar .album-track-items .profile-track-item:hover .add-track-info > b,
.profile-container .music-right-sidebar .album-track-items .profile-track-item:hover .add-track-info > a,
.profile-container .music-right-sidebar .playlist-track-items .profile-track-item:hover .add-track-info > a,
.profile-container .music-right-sidebar .playlist-track-items .profile-track-item:hover .add-track-info > b{
    display: inline-block;
}
.profile-container .music-right-sidebar .album-track-items .track-img,
.profile-container .music-right-sidebar .playlist-track-items .track-img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
    display: inline-block;
}
.profile-container .music-right-sidebar .album-track-items .track-img img,
.profile-container .music-right-sidebar .playlist-track-items .track-img img{
    width: 70px;
    height: 70px;
}
.profile-container .music-right-sidebar .album-track-items .track-info-block,
.profile-container .music-right-sidebar .playlist-track-items .track-info-block{
    display: inline-block;
    font-family: "ProximaNovaRegular";
    vertical-align: middle;
    margin-right: 25px;
}
.profile-container .music-right-sidebar .album-track-items .track-info-block > .artist-name,
.profile-container .music-right-sidebar .playlist-track-items .track-info-block > .artist-name{
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding: 0;
    margin-bottom: 5px;
}
.profile-container .music-right-sidebar .album-track-items .track-info-block > .track-name,
.profile-container .music-right-sidebar .playlist-track-items .track-info-block > .track-name{
    font-size: 16px;
    color: white;
    padding: 0;
    margin: 0;
}
.profile-container .music-right-sidebar .album-track-items .add-track-info,
.profile-container .music-right-sidebar .playlist-track-items .add-track-info{
    float: right;
    display: inline-block;
    vertical-align: middle;
}
.profile-container .music-right-sidebar .album-track-items .add-track-info > b,
.profile-container .music-right-sidebar .album-track-items .add-track-info > a,
.profile-container .music-right-sidebar .playlist-track-items .add-track-info > b,
.profile-container .music-right-sidebar .playlist-track-items .add-track-info > a{
    color: white;
    font-size: 25px;
    display: none;
    padding-top: 25px;
    margin-right: 10px;
}
.profile-container .music-right-sidebar .album-track-items .add-track-info .fa-download:hover,
.profile-container .music-right-sidebar .playlist-track-items .add-track-info .fa-download:hover{
    text-decoration: none;
    color: #16c9ad;
    cursor: pointer;
}
.profile-container .music-right-sidebar .album-track-items .add-track-info .fa-edit:hover,
.profile-container .music-right-sidebar .playlist-track-items .add-track-info .fa-edit:hover{
    color: yellow;
    cursor: pointer;
}
.profile-container .music-right-sidebar .album-track-items .add-track-info .fa-times-circle:hover,
.profile-container .music-right-sidebar .playlist-track-items .add-track-info .fa-times-circle:hover{
    color: red;
    cursor: pointer;
}
.profile-container .music-right-sidebar .album-track-items .add-track-info > .track-time,
.profile-container .music-right-sidebar .playlist-track-items .add-track-info > .track-time{
    font-family: "ProximaNovaRegular";
    font-size: 14px;
    color: white;
    padding: 0;
    margin: 0;
    padding-top: 25px;
}

/*COMMUNITIES*/
.mycommunities-container .all-music-container{
    padding: 0 !important;
    background: none !important;
}